.imageList {
  flex: 4;
  height: 500px;
}

.imageListItem {
  display: flex;
  align-items: center;
}

.imageListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.imageListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin: 0 20px;
  width: 50px;
}

.imageListDelete {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #c92031;
  color: white;
  cursor: pointer;
  margin: 0;
  width: 100px;
}
