<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="X-Content-Type-Options" value="nosniff"/>
				<add name="X-Xss-Protection" value="1; mode=block"/>
				<add name="X-Frame-Options" value="SAMEORIGIN"/>
				<add name="Referrer-Policy" value="no-referrer-when-downgrade"/>
				<remove name="X-Powered-By" />
				<remove name="X-AspNet-Version" />
				<remove name="Server" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>

</configuration>