.userList {
  flex: 4;
  height: 60%;
}

.userListUser {
  display: flex;
  align-items: center;
}
.userAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  margin: 5px 0;
  background-color: teal;
  color: white;
  border-radius: 5px;
  font-size: 23px;
  cursor: pointer;
}
.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.userListDelete {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #c92031;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}
